@import "../../mixin";

.goods_img_container{
  width: 249px;
  height: 320px;
}

.goods_container{
  margin-bottom: 20px;
}

.goods_img{
  @include full-size;
}
.info_goods{
  @include flex-col;
  font-size: 16px;
  margin-top: 10px;
}
.name{
margin-bottom: 10px;
  font-weight: normal;
}
.price{
margin-bottom: 5px;
  font-weight: bold;
}
.dc{
  color: orange;
}
.cost{
  text-decoration : line-through;
  color: gray;
  font-size: 14px;
}

