.footer {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  margin: auto;
  font-size: 1.6rem;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px;
  border-top: solid gainsboro 1px;
  border-bottom: solid gainsboro 1px;
  margin-top: 10px;
}

.content_main {
  width: 60%;
  color: black;
}

.content_main h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content_main div {
  line-height: 20px;
}

.content_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_button button:hover {
  background-color: orange;
}

.content_button button {
  border-radius: 22px;
  border: 1px solid wheat;
  margin: 0px 5px;
  padding: 10px 20px;
}

// contact

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
}

.sns_icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns_icon img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
